*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color: inherit;
    font-size: 1.5rem;
  }

body::-webkit-scrollbar { width: 0; }

body { -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
.hero .content .main_header .main_gallery > *{
    will-change: transform;
}
:root{
    --index: calc(1vw + 1vh);
    --color_header: #fff;
    --color_text: #cdc6c3;
    --gallery_gap: 5vh; /* calc(var(--index) * 6) */
}
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
@font-face {
    font-family: s-outfit;
    src: url(../fonts/outfit-regular.woff2);
}
@font-face {
    font-family:s-raleway ;
    src: url(../fonts/raleway-regular.woff2);
}
h1, h2, h3, h4, h5, h6{
    font-family: s-outfit;
}
body{
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: var(--color_header);
    font-family: s-raleway;
    overflow-x: hidden;
}
.hero{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.header_nav{
    height: 50px;
    background-color: rgb(255,255,255,0.2);
}
.nav_items {
    height: 100%;
    display: flex;
    justify-content: space-around; 
}
.nav_item {
    display: flex;
    align-items: center;
    text-align: center;

}
.conteiner{
    padding: 0vh 7vw;
}
.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }
  .down-arrow {
    animation: jumpInfinite 1.5s infinite;
  }
.main_title{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: calc(var(--index) * 6);
    position: absolute;
    width: min-content;
    bottom: 25vh;
    line-height: 0.9;
    right: 0;
}
.main_sub-title{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: calc(var(--index) * 3);
    position: absolute;
    /* width: min-content; */
    bottom: 11vh;
    line-height: 0.9;
    right: 0;
}
.main_header{ 
    height: 100vh;
}
.main_gallery{
    display: flex;
    padding: calc(var(--index)* 8) 0;
}
.main_gallery > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery_item{
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery_gap);
    max-height: 90vh;
    border-radius: 15px;
}
.gallery_left  {
    margin-top: calc(var(--gallery_gap) * 1.75);
}
.gallery_right .gallery_item{
    margin-bottom: 0;
    margin-top: var(--gallery_gap);
}
.text_block{
    color: var(--color_header);
    position: relative; 
}
.text_block_h{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.text_block_p{
    color: var(--color_text);
}

/* Adaptiv */
@media (min-width: 750px) {
}

@media (min-width: 481px) and (max-width: 750px) {
}

@media (max-width: 480px) {
    .main_gallery{
        display: block;
        /* padding: calc(var(--index)* 9) 0; */
        }
    .gallery_item{
        max-width: 90vw;
    }    
    .main_header {
        height: 10vh;
    }
    .main_title {
        font-size: calc(var(--index) * 2);
        top: 2vh;
        right: 120px;
    }
    .main_sub-title {
        font-size: calc(var(--index) * 2);
        top: 76vh;
        left: 5vh;
    }
    .down-arrow {
        display: none;
    }
}